/* =========================
    DESKTOP (>=1024px)
========================= */
@media (min-width: 1024px) {
    .header-nav-button {
        display: none;
    }

    .header nav {
        display: block;
        height: auto;
        padding-bottom: 4px;
        padding-top: 0;
        position: static;
        width: auto;
        opacity: 1;
        animation: none;
    }
}



@media screen and (min-width:600px) {

    .header__content {
        padding: 0 40px;
    }

    .footer-contant {
        padding: 40px;
    }
}

@media screen and (max-width:768px) {
    #btn {
        height: 18px;
        font-size: 18px;
        display: flex;
        gap: 7px;
        align-items: center;
        justify-content: center;
        width: 24%;

    }

    #btn::before {
        content: "";
        display: inline-block;
        height: 18px;
        width: 22px;
        background-image: url("../svg/menuIcon.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    #btn.active::before {
        background-image: url("../svg/iconClose.svg");
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .header__content {
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1181px;
        margin: 0 auto;
        height: 70px;
        width: 99%;
    }

    .header-nav {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        left: 0;
        border-top-width: 70px;
        border-top-style: solid;
        border-top-color: #fff;
        z-index: 2;
        background: linear-gradient(0deg, #0009, #000);
    }

    .header-nav.open {
        opacity: 1;
        visibility: visible;
        animation: Header 0.5s ease-in-out forwards;
    }

    .header-nav .links {
        color: #fff;
        padding: 15px 40px;
        font-size: 24px;
        line-height: 34px;
        width: 100%;
        margin-top: 38px;
    }

    .links.active {
        color: #2579b5;
    }

    .heder-menu {
        flex-direction: column;
        position: absolute;
        align-items: start;
        width: 100%;
        gap: 30px;
    }

    .header-nav .list {
        justify-content: unset;
        margin: 0 40px 0 0;
    }

    .heder-menu li {
        margin: 0 40px 0 0;
        width: 100%;
        text-align: start;
    }

    .header-nav .links::after {
        content: "";
        top: 27px;
    }

    .header-nav-button {
        position: relative;
        z-index: 3;
    }

    .logo {
        width: 100%;
    }

    /* ============================================           
     Video-section & image section
     ============================================ */
    .section-contant h1 {
        font-size: 36px;
        line-height: 50px;
    }

    .section-contant p {
        font-size: 22px;
    }

    .background-image-height .section-contant h1 {
        font-size: 36px;
        line-height: 43px;
    }

    /* ====================================            
                 Footer
      ==================================== */
    .footer-nav {
        position: static;
        padding: 0 0 25px 0;
        width: auto;
        height: auto;
    }

    .header__content {
        width: 99%;
    }

    .footer-menu {
        display: flex;
        font-size: 16px;
        font-weight: 100;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .footer-nav ul li {
        animation: none;
    }
}

@media screen and (max-width:425px) {
    .section-contant {
        padding: 0 20px;
    }

    .logo {
        width: 100%;
        height: 32px;
    }

    .footer-contant {
        flex-direction: row;
        padding: 30px 20px;
        align-items: flex-start;
    }

    .footer-menu {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }


    .footer-contant ul .animation {
        width: 50%;

    }

    .footer-nav ul .animation {
        opacity: 0;
    }

    .footer-nav ul li:nth-child(1) {
        animation-delay: 0.1s;
    }

    .footer-nav ul li:nth-child(2) {
        animation-delay: 0.2s;
    }

    .footer-nav ul li:nth-child(3) {
        animation-delay: 0.3s;
    }

    .footer-nav ul li:nth-child(4) {
        animation-delay: 0.4s;
    }

    .footer-nav ul li:nth-child(5) {
        animation-delay: 0.5s;
    }

    .footer-nav ul li:nth-child(6) {
        animation-delay: 0.6s;
    }

    .footer-nav ul li {
        width: 50%;
        margin-bottom: 12px;
        animation: navigationAnimation 0.4s linear 0.7s 1 normal forwards;
    }

    .footer-social {
        justify-content: flex-start;
        margin-top: 10px;
        transform: unset;
    }

    .footer-link {
        justify-content: start;
    }


    .footer-legal {
        width: 100%;
    }
}